<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" ng-app="Journal"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" ng-app="Journal" manifest="manifest.apache"> <!--<![endif]-->
<!--manifest="manifest.apache"-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Journal</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon" />-->

    <link rel="stylesheet" href="./css/normalize.css">
    <link rel="stylesheet" href="./css/main.css">
    <link rel="stylesheet" href="./css/app.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>
<body class="panel-body">
<!--[if lt IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->


<pre ng-show="debugMode">
    DESCR:
    Connect to a server when possible.
    When no network, we save the data in browser's application cache.
    As soon as connection is established we send the data to the server (with a POST).
    Every event and server-response is logged.
</pre>

<main id="main-container">
    <h1>Journal</h1>

    <div id="controls"
         ng-controller="MainCtrl">
        <textarea id="journalText"
                  class="text-area"
                  autofocus
                  ng-model="message.message">
        </textarea>

        <div id="btn-and-status">
            <label class="online-status">
                <div class="label-text">
                    Connection <br>
                    status:
                </div>

                <img ng-src="img/contactGreen.jpg"
                     class="connected-icon"
                     ng-show="server.isConnected"
                     alt="Conn.">
                <img ng-src="img/noContactRed.png"
                     class="connected-icon"
                     ng-hide="server.isConnected"
                     alt="Not con.">
            </label>
            <button type="submit"
                   id="sendButton"
                   ng-click="handleSendClick()">
                    <strong>Send to server</strong>
            </button>
        </div>
    </div>

    <!--
    This controller has no View counterpart, yet. This is done to load it.
    Don't know how to do it from Logical layer, yet. :-)
    -->
    <div ng-controller="OfflineEventsCtrl"></div>

    <div id="eventLogContainer"
         ng-controller="LogCtrl">
        <div id="event-log-inner">
            <div class="title-title">
                <span class="log-title-head">Event Log</span> <br>
                <span class="log-title-bottom">the last {{maxNofEntries}} entries</span>
            </div>
            <ul class="log-text">
                <li ng-repeat="logEntry in logEntries">
                    {{logEntry}}
                </li>
            </ul>
        </div>
    </div>

</main>

<script src="js/vendor/modernizr-2.6.2.min.js"></script>
<script src="./js/vendor/jquery-1.10.2.min.js"></script>
<script src="./js/vendor/angular.min.js"></script>
<!--<script src="./js/vendor/angular.js"></script>-->
<script src="./app.js"></script>
<script src="./js/logCtrl.js"></script>
<script src="./js/messengerSrvc.js"></script>
<script src="./js/appCacheEvents.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>

</body>
</html>
